.navbar-custom {
    background-color: #009ddc;
}

.btn-primary {
    background-color: #009ddc !important;
    border-color: #008bc3 !important;
}

body {
    background-color: #f0f3f4 !important;
}

.container {
    background-color: #ffffff !important;
}

div {
    border-color: #dddddd !important;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
